body {
   
    background-color: beige;
}
header, h2 {
    text-align: center;
}
table {
    border: 2px solid;
    border-color: orange blue;
    margin: auto;
    background-color: hsl(140, 50%, 55%);
    border-collapse: separate;
    border-spacing: 2px;
   

}
thead {
    background-color: hsl(271, 76%, 83%);
    font-family: monospace;
    /* display: table-header-group; */
}   

tbody {

}

tr {
    /* display: table-row; */
}

th {
    display: table-cell;
}

td {
    border-top: 1px solid darkorchid;
}